<link rel="stylesheet" type="text/css" href="static/css/blog.css">
<div ng-controller='blog_controller'>
	
	<div class='row container content'>
		
		<div class='col-md-10 col-sm-10'>
			<h2>CosplayMadeMe Blog</h2>



			<div class='blog_content' ng-repeat="blog in blogs | orderBy: '-date'">
				<div class='row'>
					<div class='col-md-4 col-sm-6'>
						<img ng-if='blog.photo_link' ng-src='{{blog.photo_link}}'>
					</div>
					<div class='col-md-8 col-sm-6'>
						<h4>{{blog.title}}</h4>
						<p class='pull-right'>{{blog.date | date:'mediumDate'}}</p><br>
						<p ng-bind-html="convert_html(blog.description)"></p>
					</div>
				</div>
			</div>




		</div>
		<div class='col-md-2 col-sm-2'>
			<ins class="adsbygoogle"
			     style="display:block"
			     data-ad-client="ca-pub-6439372639315752"
			     data-ad-slot="5974858022"
			     data-ad-format="auto"></ins>
			<script>
			(adsbygoogle = window.adsbygoogle || []).push({});
			</script>
		</div>

	</div>


</div>