.add_news {
	border: 1px solid silver;
	height: 350px;
	width: 100%;
	overflow: scroll;
}
.add_news p {
	width: 100%;
}

.add_news label {
	display: inline-block;
}

.add_news input, .add_blog input, .add_con input {
	width: 100%;
}

#photo_radio, #video_radio {
	width: 20px;
}
.add_news textarea, .add_blog textarea {
	margin-top: 5px;
	display: block;
	width: 100%;
	height: 100px;
}

.add_con {
	border: 1px solid silver;
}


.add_blog {
	margin-top: 20px;
	border: 1px solid silver;
	height: 350px;
	overflow: scroll;
}

.con_list {
	border-top: 1px solid silver;
	padding-top: 5px;
}

.con_list p {
	font-size: 10px;
	line-height: 50%;
}

.news_content {
	border-top: 1px solid silver;
}
.news_content img, .news_content iframe {
	width: 100%;
}
.news_content p {
	font-size: 10px;
}
